<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav-info">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">网上竞拍</a>
    </div>
    <ul class="nav navbar-nav collapse navbar-collapse nav-info">
      <li><a href="#">关于我们</a></li>
      <li><a href="#">关于我们1</a></li>
      <li><a href="#">关于我们2</a></li>
    </ul>
  </div>
</nav>
