<div class="thumbnail">
  <img src="http://placehold.it/300x80" alt="">
  <div class="caption">
    <h4>{{product.name}}</h4>
    <span class="pull-right">{{product.price}}元</span>
    <span>{{product.desc}}</span>
    <div style="margin-top:5px">
      <app-stars [rating]="product.stars"></app-stars>
    </div>
  </div>
</div>

<section class="comment">
  <aside>
    <span>共有{{comments.length}}条评论</span>
  </aside>
  <aside style="margin:10px 0">
    <button type="button" class="btn btn-success" (click) = 'isCommentHidden = !isCommentHidden'>发表评论</button>
  </aside>
  <aside [hidden] = 'isCommentHidden'>
    <form>
      <div class="form-group">
        <app-stars [(rating)]="publishComment.rating" [readonly]="false"></app-stars>
      </div>
      <div class="form-group">
        <textarea name="content" [(ngModel)] = 'publishComment.content'></textarea>
      </div>
      <div class="form-group">
        <button type="button" class="btn btn-success"  [disabled] = 'publishComment.content?false:true' (click)="submit()">提交</button>
      </div>
    </form>
  </aside>
  <div *ngFor="let comment of comments">
    <hr>
    <div>
      <app-stars [rating]="comment.rating"></app-stars>
    </div>
    <span>{{comment.userName}}</span>
    <span class="pull-right">{{comment.timeStamp}}</span>
    <p>{{comment.content}}</p>
  </div>
</section>
